$esto:(flex,grid,block);

@each $r in $esto{
    .d-#{$r}{
      display: $r;
      @if $r == flex{
          justify-content: space-between;
      }
    }
}
@for $x from 1 through 4{
    @media screen and (min-width:300px * $x){
        .container#{$x}{
            max-width:285px * $x;
        }
    }
}