$color_rojo:red;
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
}
nav{
    ul{
        
        margin: 10px;
        text-decoration: none;
    }
    li{
        $relleno:15px;
        padding: $relleno;
        list-style: none;
        float: left;
        text-transform: capitalize;
        background: yellow;
        color:$color_rojo;
    }
}
